{% extends 'base.html' %}

    {% block body %}
        <form method="POST" class="register-form">
            <div class="container">
                <h2>Administrator Sign-Up</h2>
                <div class="mb-3">
                    <label for="email-address" class="form-label">Email address</label>
                    <input type="email" name="email" class="form-control" id="email-address" placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" name="username" class="form-control" id="username" placeholder="name" />
                </div>
                <div class="row g-2">
                    <div class="col-auto">
                        <label for="password" class="visually-hidden">Password</label>
                        <input type="password" name="password" class="form-control" id="password" placeholder="Password">
                    </div>
                    <div class="col-auto">
                        <label for="secret" class="visually-hidden">Secret Key</label>
                        <input type="password" name="secret" class="form-control" id="secret" placeholder="Secret-Key">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary mb-3">Create Account</button>
                    </div>
                </div>
                <p>Already have an Account ? <a href="{{ url_for('login') }}">Login</a></p>
            </div>
        </form>
    {% endblock %}