{% extends 'base.html' %}

    {% block body %}
        <div class="container">
            <div class="jumbotron">
                <div class="row">
                    <div class="col">
                        <h2>{{ ticket[3] }}</h2>
                        <p>{{ ticket[4] }}</p>
                    </div>
                    <div class="col">
                        <div class="row detail-card bl">
                            <h4>Complaint Filed by {{ user[0] }}</h4>
                        </div>
                        <div class="row detail-card gr">
                            <h4>Progress: {{ ticket[5] }}</h4>
                        </div>
                        <div class="row detail-card yl">
                            <h4>Assigned to: {{ ticket[2] }}</h4>
                        </div>
                    </div>
                </div>
                {% if user[3] == 2 %}
                <div class="row" >
                    <form method="POST">
                        <select name="agent">
                            {% for user in all_users %}
                                <option value="{{user[4]}}">{{user[0]}}</option>
                            {% endfor %}
                        </select>
                        <input class="btn btn-danger btn-sm" type="submit" value="Assign"/>
                    </form>
                </div>
                {% elif user[3] == 1%}
                    {% if ticket[5] == "assigned" %}
                        <a href="/accept/{{ticket[0]}}/{{user[4]}}"><button class="btn btn-secondary">Accept</button></a>
                    {% elif ticket[5] == "accepted" %}
                        <a href="/delete/{{ticket[0]}}/{{user[4]}}"><button class="btn btn-danger" >Delete</button></a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        
    {% endblock %}